<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Home</title>
</head>
<body>
   <div class="main">
          
<div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#">DO NOT TOUCH</a>
              <div id="close-sidebar">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                  alt="User picture">
              </div>
              <div class="user-info">
                <span class="user-name">
                  <strong>{{admin.name}}</strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                  <span>Online</span>
                </span>
              </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>General</span>
                </li>
                <li class="sidebar-dropdown">
                  <a routerLink="/adminprofile">
                    <img src="../../../assets/account.svg">
                    <span>Profile</span>
                    <span class="badge badge-pill badge-warning">Edit</span>
                  </a>
                </li>
                <li class="sidebar-dropdown">
                  <a routerLink="/adminlistofusers">
                    <span>List of Users</span>
                  </a>
                <li class="sidebar-dropdown">
                  <a routerLink="/adminlistofhotels">
                    <span>List of Hotels</span>
                  </a>
                </li>
                <li class="sidebar-dropdown">
                  <a routerLink="/admintodaysorders">
                    <span>Today's Orders</span>
                  </a>
                </li>
                <li class="sidebar-dropdown">
                  <a routerLink="/adminthismonth">
                    <span>This Month's Orders</span>
                  </a>
                </li>
                <li class="sidebar-dropdown">
                    <a routerLink="/adminhotelrequest">
                        <span>Handel Hotel Request</span>
                    </a>
                </li>
              </ul>
            </div>
            <!-- sidebar-menu  -->
          </div>
          <!-- sidebar-content  -->
        </nav>
        <!-- sidebar-wrapper  -->
      </div>
    </div>
  
</body>
</html>